audio {
  display: none;
}

lapis-player {
  display: flex;
  max-height: 75%;
  width: 100%;
}

input[type="range"] {
  transform: rotate(-90deg) translate(22%, -394%);
  width: inherit;
  opacity: 0.3;
  align-self: center;
}
input[type="range"]:hover {
  opacity: 1;
}

/*https://codepen.io/BainjaminLafalize/pen/GiJwn*/
/*https://codepen.io/Varo/pen/vLdvMK*/

video,
#mep_0 {
  height: inherit;
  position: absolute;
  width: inherit;
  max-height: inherit;
}

/* customized afterglow player */
.afterglow__control-bar {
  height: 4.4rem;
  backdrop-filter: blur(1rem);
  background: rgba(0,0,0, 0.3);
  bottom: 0;
  position: absolute;
  width: calc(100% + 60px);
  left: -30px;
  z-index: -1;
}
