
audio {
  display: none;
}

lapis-player {
  display: flex;
  height: 50%;
  width: 100%;
}

input[type="range"] {
  transform: rotate(-90deg) translate(22%, -394%);
  width: inherit;
  opacity: 0.3;
  align-self: center;
}
input[type="range"]:hover {
  opacity: 1;
}

/*https://codepen.io/BainjaminLafalize/pen/GiJwn*/
/*https://codepen.io/Varo/pen/vLdvMK*/

#mep_0{
    height: inherit;
    position: absolute;
    width: inherit;
}